a {
    font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
    color: #ad998b;
    text-decoration: none;
}

.quoteText .authorOrTitle {
    font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
    font-weight: bold;
    color: #333;
}

.quoteText {
    font-family: "Merriweather", "Georgia", serif;
    font-size: 14px;
    padding: 0px 5px 10px 0px;
    line-height: 21px;
}

H1, .h2Container H2, .pageHeader h2 {
    padding: 0px 0px 2px 0px;
    font-size: 20px;
    font-family: "Merriweather", Georgia, "Times New Roman", serif;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 15px;
    color: #382110;
    line-height: 24px;
}