{% extends "base.html" %}

{% block content %}

<div class="container">
    <br>
    <div class="text-center">
        <a href="/"><img src="https://i.pinimg.com/564x/f8/81/73/f88173e6ca76c8cb0f5f65144c839dd0.jpg" height="120"></a>
    </div>
    <br>
    <h2 class="text-center">Welcome to FastAPI</h2>
    <hr>
    <h3 class="text-center">All contacts:</h3>
    {% for contact in contacts %}
    <div>
        <div class="alert alert-success col-sm-6" role="alert">
            <p><strong>id:</strong> {{contact.id}}</p>
            <p><strong>first_name:</strong> {{contact.first_name}}</p>
            <p><strong>last_name:</strong> {{contact.last_name}}</p>
            <div><strong>email:</strong> {{contact.email}}</div>
            <div><strong>phone:</strong> {{contact.phone}}</div>
            <div><strong>birthday:</strong> {{contact.birthday}}</div>
            <div><strong>created_at:</strong> {{contact.created_at}}</div>
            <div><strong>updated_at:</strong> {{contact.updated_at}}</div>
        </div>
    </div>
    {% endfor %}
</div>


{% endblock %}