{% extends "base.html" %}

{% block content %}
<div class="container">


    <div class="col-sm-6">
        <form method="POST">
            <div class="mb-3">
                <label>Username</label>
                <input type="text" required placeholder="Enter username" name="username" value="{{username}}"
                       class="form-control">
            </div>
            <br>
            <div class="mb-3">
                <label>Email</label>
                <input type="text" required placeholder="Enter email" name="email" value="{{email}}"
                       class="form-control">
            </div>
            <br>
            <div class="mb-3">
                <label>Password</label>
                <input type="password" required placeholder="Your password" value="{{password}}"
                       name="password" class="form-control">
            </div>
            <br>
            <div class="mb-3">
                <label>Avatar</label>
                <p>if you don't have avatar on your email, follow the link to register:
                    <a href="https://uk.gravatar.com/" target="_blank">Gravatar</a></p>
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

{% endblock %}
