{% extends "quotes/base.html" %}

{% block content %}
<div class="container">
    <h1>Search results: {{ query }}</h1>
    <hr>
    {% csrf_token %}

    {% if  not quotes %}
    <div>Not found  "{{query}}"</div>
    {% endif %}

    <div class="mainContent">
        <div class="col-md-8 themed-gris-col">
            <br>
            <div class="quotes" rel="stylesheet">

                {% for quote in quotes %}

                <div class="quote">
                    <div class="clearfix">
                        <a class="col-md-2 float-md-end mb-3 ms-md-3l"
                           href="{% url 'quotes:author_about' quote.author.id %}">
                            <img class="img-thumbnail" alt="{{quote.author.fullname}}" src="{{quote.author.picture}}" height="95">
                        </a>
                        <div class="textQuote">{{quote.quote}}
                            <br>
                            ―
                            <span class="authorOrTitle" rel="stylesheet">
                            <a href="{% url 'quotes:author_about' quote.author.id %}">{{quote.author.fullname}}</a>
                            </span>
                        </div>
                        <div class="tagsQuote">
                            tags:
                            {% for tag in quote.tags.all %}
                            <a class="tag" style="text-decoration: none"
                               href="{% url 'quotes:find_by_tag' tag.id %}">{{tag.name}}</a>
                            {% endfor %}
                        </div>
                    </div>
                    <hr>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}