{% extends "quotes/base.html" %}

{% block content %}

<div class="container">
    <h2 class="titleForm">Add Tag:</h2>
    <br>
    <form class="col-sm-6" method="POST" action="{% url 'quotes:add_tag' %}">
        {% csrf_token %}
        <div class="form-group">
            <label>Tage:</label>
            {{ form.name }}
            <span>{{ form.errors.name }}</span>
        </div>
        <br>
        <div class="buttonForm">
            <button type="submit" class="btn btn-primary btn">Submit</button>
            <button type="reset" class="btn btn-secondary btn">Reset</button>
        </div>
    </form>
</div>
{% endblock %}

