{% extends "quotes/base.html" %}

{% block content %}

 <h2 class="d-grid gap-2 col-5 mx-auto">Add Author:</h2>

<form method="POST" action="{% url 'quotes:add_author' %}">
    {% csrf_token %}
    <div class="d-grid gap-2 col-11 mx-auto" style="padding: 15px">
        <label class="d-grid gap-2 col-6 mx-auto" > Fullname:
            {{ form.fullname }}
        </label>
        <span>{{ form.errors.fullname }}</span>
    </div>
    <div class="d-grid gap-2 col-11 mx-auto" style="padding: 15px">
        <label class="d-grid gap-2 col-6 mx-auto" > Born Date:
            {{ form.born_date }}
        </label>
        <span>{{ form.errors.born_date }}</span>
    </div>
    <div class="d-grid gap-2 col-11 mx-auto" style="padding: 15px">
        <label class="d-grid gap-2 col-6 mx-auto" > Born Location:
            {{ form.born_location }}
        </label>
        <span>{{ form.errors.born_location }}</span>
    </div>
    <div class="d-grid gap-2 col-11 mx-auto" style="padding: 15px">
        <label class="d-grid gap-2 col-6 mx-auto" > Picture:
            {{ form.picture }}
        </label>
        <span>{{ form.errors.picture }}</span>
    </div>
    <div class="d-grid gap-2 col-11 mx-auto" style="padding: 15px">
        <label class="d-grid gap-2 col-6 mx-auto" > Description:
            {{ form.description }}
        </label>
        <span>{{ form.errors.description }}</span>
    </div>
    <div class="d-grid gap-2 col-5 mx-auto">
        <button type="submit" class="btn btn-primary btn">Submit</button>
        <button type="reset" class="btn btn-secondary btn">Reset</button>
    </div>
</form>
{% endblock %}