{% extends 'quotes/base.html' %}
{% load extract %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        {% for quote in quotes %}
        <div class="quote" itemscope="" itemtype="http://schema.org/CreativeWork">
            <span class="text" itemprop="text">{{quote.quote}}</span>
            <span>by <small class="author" itemprop="author">{{quote.author|author}}</small>
            <a href="/author/Albert-Einstein">(about)</a>
            </span>
            <div class="tags">
                Tags:
                {% for tag in quote.tags %}
                <a class="tag" href="/tag/change/page/1/">{{tag}}</a>
                {% endfor %}

            </div>
        </div>
        {% endfor %}
        <nav>
            <ul class="pager">

                <li class="previous">
                    {% if quotes.has_previous %}
                    <a href="?page=1" class="btn btn-light">&laquo; first</a>
                    <a href="?page={{ quotes.previous_page_number }}" class="btn btn-light">previous</a>
                    {% endif %}

                    <span class="current">
                    Page {{ quotes.number }} of {{ quotes.paginator.num_pages }}.
                    </span>

                    {% if quotes.has_next %}
                    <a href="?page={{ quotes.next_page_number }}" class="btn btn-light">next</a>
                    <a href="?page={{ quotes.paginator.num_pages }}" class="btn btn-light">last &raquo;</a>
                    {% endif %}

                    <!--                    <a class="{% if not quotes.has_previous %} disabled {% endif %}"-->
                    <!--                       href="{% if quotes.has_previous %} {% url 'quotes:root_paginate' quotes.previous_page_number %} {% else %} # {% endif %}">-->
                    <!--                        <span aria-hidden="true">←</span> Previous-->
                    <!--                    </a>-->
                    <!--                </li>-->


                    <!--                <li class="next">-->
                    <!--                    <a class="{% if not quotes.has_previous %} disabled {% endif %}"-->
                    <!--                       href="{% if quotes.has_next %} {% url 'quotes:root_paginate' quotes.next_page_number %} {% else %} # {% endif %}">-->
                    <!--                        Next <span aria-hidden="true">→</span>-->
                    <!--                    </a>-->
                    <!--                </li>-->

            </ul>
        </nav>
    </div>

</div>


{% endblock %}